# HOTFIX missing dependency of DeepOBS
- tensorflow==1.15.2

# development versions
-e git://github.com/f-dangel/backpack.git@development#egg=backpack
-e git://github.com/fsschneider/DeepOBS.git@develop#egg=deepobs

# regular versions
# backpack-for-pytorch
# deepobs
